@import '../../assets/styles/styles.scss';

.project__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.project__p--section {
    max-width: 500px;
}

.project__title {
    @include Fonts(23px);
    margin: 10px 0px 30px 0px;
}

.project__subtitle {
    @include Fonts(20px);
}

.project__p {
    @include Fonts(18px, normal);
}

.project__images--section {
    width: 50%;
}

.project__images {
    max-width: 100%;
    border-radius: 20px;
    margin: 0px 70px 30px 160px;
    &:hover {
        background-color: #4075FF;
        transform: translateY(-0.50em);
        transition: 0.4s;
        color: $font-color;
    }
}

.badge__container {
    display: inline-flex;
    justify-content: space-between;
}

.badge {
    background-color: $succes-color;
    border-radius: 5px;
    border: 1px solid $succes-color;
    width: 77px;
    max-height: 36px;
    margin: 0px 10px;
    &:hover {
        background-color: #4075FF;
        transform: translateY(-0.25em);
        transition: 0.4s;
        color: $font-color;
    }
    
}

.badge p {
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 4px 0px;
    font-weight: bold;
    margin: 0 auto;
}

@media screen and (max-width: $sm) {
    .project__container{
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .project__images{
        max-width: 200%;
        height: 180px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .badge__container {
        max-width: 300px;
        margin: 0px;
    }
}

@media screen and (max-width: $xsm) {
    .project__container{
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .project__images{
        max-width: 200%;
        height: 130px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .badge__container {
        max-width: 300px;
        margin: 0px;
    }
    .project__p--section {
        max-width: 260px;
    }
    .project__title {
        @include Fonts(21px);
        margin: 10px 0px 30px 0px;
    }
    .project__subtitle {
        @include Fonts(16px);
    }
    .project__p {
        @include Fonts(14px, normal);
    }
    .badge__container {
        max-width: 260px;
        margin: 0px;
    }
    .badge p {
        font-size: 11px;
    }
}
