@import "../../assets/styles/styles.scss";


.button__container {
    display: flex;
    justify-content: center;
}

.final__button {
    background-color: $font-color;
    color: #4075FF;
    padding: 25px 70px;
    font-size: 26px;
    margin: 0 auto;
    margin: 40px 10px 90px 10px;
    font-weight: bold;
    outline: 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #4075FF;
        transform: translateY(-0.25em);
        transition: 0.4s;
        color: $font-color;
    }
}

@media screen and (max-width: 420px) {
    .button__container {
        max-width: 100%;
    }
    .final__button {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.3em;
    }

}