@import '../../assets/styles/styles.scss';

html {
    height: 100%;
}
.main__container {
    max-width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
}
.image__container {
    width: 50%;
    max-width: 400px;
}
.profile__image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.main__heading {
    font-family: $basefont;
    color: $font-color;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    text-align: start;
}
.main__title {
    font-family: $basefont;
    color: $title-color;
    font-weight: bold;
    font-size: 70px;
    text-align: start;
    margin: 30px 0px;
}
.main__subheading {
    color: $font-color;
    font-weight: bold;
    font-size: 34px;
    text-align: start;
    margin-bottom: 0px;
}
.button__container2 {
    display: flex;
    justify-content: flex-start;
}
.main__heading2 {
    @include Fonts(45px);
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
}


@media screen and (max-width: $sm) {
    .main{
        max-height: 1200px;
    }
    .main__container {
        margin-top: 70px;
        display: block;
    }
    .main__heading {
        margin-top: 20px;
        text-align: center;
        font-size: 1.7em;
    }
    .main__heading2{
        display: none;
        text-align: center;
        font-size: 1.3em;
    }
    .main__title {
        font-size: 1.8em;
        text-align: center;
        margin: 10px 0px;
    }
    .main__subheading {
        text-align: center;
        font-size: 1.2em;
    }
    .profile__image {
        height: 100%;
        max-width: 100%;
    }
    .image__container {
        width: 70%;
        margin: 0 auto;
    }
    .text__container {
        text-align: center;
    }
   
    .button__container2 {
        display: inline-block;
        margin-top: 30px;
    }
}

@media screen and (max-width: $xsm) {

    .main__container {
        margin-top: 70px;
        display: block;
        height: 100vh;
    }
    
}