@import '../../assets/styles/styles.scss';

html {
    height: 100%;
}
.main__container {
    max-width: 80%;
    justify-content: space-evenly;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
}
.image__container {
    width: 50%;
    max-width: 400px;
}
.profile__image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.main__heading {
    font-family: $basefont;
    color: $font-color;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    text-align: start;
}
.main__title {
    font-family: $basefont;
    color: $title-color;
    font-weight: bold;
    font-size: 70px;
    text-align: start;
    margin: 30px 0px;
}
.main__subheading {
    color: $font-color;
    font-weight: bold;
    font-size: 34px;
    text-align: start;
    margin-bottom: 0px;
}
.button__container2 {
    display: flex;
    justify-content: flex-start;
}


@media screen and (max-width: 420px) {
    .main__container {
        margin-top: 100px;
        display: block;
        max-height: 900px;
    }
    .main__title {
        font-size: 40px;
    }
    .profile__image {
        height: 100%;
        max-width: 100%;
    }
    .image__container {
        width: 100%;
    }
    .text__container {
        text-align: center;
    }
    .main__heading {
        text-align: center;
    }
    .main__title {
        text-align: center;
    }
    .main__subheading {
        text-align: center;
    }
}