@import '../../assets/styles/styles.scss';

.navbar {
    background-color: #fff;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
  }
  .menu__bars {
    font-size: 2rem;
    background: none;
    color: $secondary-color;
  }
  
  .nav__menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav__menu.active {
    background-color: #0B041E;
    left: 0;
    transition: 350ms;
  }
  
  .nav__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
    color: $white-color;
  }
  
  .nav__text a {
    text-decoration: none;
    color: $white-color;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-align: start;
  }
  
  .nav__text a:hover {
    background-color: #1a83ff;
  }
  
  .nav__menu--items {
    width: 100%;
    padding-left: 25px;
  }
  
  .navbar__toggle {
    background-color: #0B041E;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white-color;
  }
  .icon__span {
      margin-left: 13px;
      font-family: $basefont;
  }


@media screen and (min-width: $md) {
  .navbar {
    display: none;
  }
} 
