@import '../../assets/styles/styles.scss';

.one {
    margin: 10px 0px 0px 30px;
}
.one__text {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
    .one {
        flex-wrap: wrap;
        max-width: 60px;
    }
    .stack__images{
        max-width: 100%;
    }
}



