@import '../../assets/styles/styles.scss';

.aboutme__container{
    color: $font-color;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    font-family: $basefont;
}

.aboutme__title {
    font-weight: bold;
    font-size: 38px;
    margin: 25px 0px;
}
.aboutme__title2 {
    margin-top: 0px;
    font-size: 18px;
}

.aboutme__text {
    max-width: 50%;
}
.aboutme__stack {
    margin: 0 auto;
}

.aboutme__title--stack {
    text-align: center;
    margin-top: 0px;
    @extend .aboutme__title;
}

.stack__container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
}